{% extends 'base.html' %}

{% block content %}
<h1 class="fw-bold">Books</h1>
{% for book in book_list %}
<div class="card my-2">
  <div class="row">
    <div class="col-md-3">
      <img src="{{ book.image.url }}" alt="..." style="width: 100%;">
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <h4 class="card-title">
          {{ book.name }}
        </h4>
        <p class="card-text">
          {{ book.description }}
        </p>
      </div>
    </div>
  </div>
</div>
{% endfor %}

<nav class="mb-4">
  <ul class="pagination justify-content-center">
    <!-- Display up to 9 items for pagination 1 ... 3 4 5 6 7 ... 9 -->
    <!-- Based off of https://nemecek.be/blog/105/how-to-use-elided-pagination-in-django-and-solve-too-many-pages-problem -->
    <!-- Get current page number -->
    <!-- Check if it is within 2 of the end -->
    <ul class="pagination justify-content-center flex-wrap mt-2 mb-4">
      <li class="page-item">
        <a class="page-link" href="?page=1">First</a>
      </li>

      <!-- Start of previous button -->
      {% if book_list.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ book_list.previous_page_number }}">Previous</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">Previous</a>
      </li>
      {% endif %}
      <!-- End of previous button -->
      <!-- Start of main links -->
      {% for i in page_range|default_if_none:book_list.paginator.get_elided_page_range %}
        {% if book_list.number == i %}
          <li class="page-item active">
            <a class="page-link">{{ i }}</a>
          </li>

        {% else %}
          {% if i == book_list.paginator.ELLIPSIS %}
            <li class="page-item">
              <a class="page-link">{{ i }}</a>
            </li>
          {% else %}
              <li class="page-item">
                <a class="page-link" href="?page={{ i }}">{{ i }}</a>
              </li>
          {% endif %}
        {% endif %}
      {% endfor %}
      <!-- End of main links -->
      <!-- Start of next -->
      {% if book_list.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ book_list.next_page_number }}">Next</a></li>
      {% else %}
      <li class="disabled page-item"><span class="page-link">Next</span></li>
      {% endif %}
      <!-- End of next -->
      <li class="page-item">
        <a class="page-link" href="?page={{ book_list.paginator.num_pages }}">Last</a>
      </li>
    </ul>
</nav>

{% endblock %}