<nav class="container-xxl navbar navbar-expand-sm">
  <div class="container-fluid">
    <a class="navbar-brand py-1 navbar-link" href="{% url 'home' %}">Book Nation</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapsable" aria-controls="navbarCollapsable" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapsable">
      <ul class="navbar-nav navbar-left me-auto mb-2 mb-sm-0">
      </ul>
      <ul class="navbar-nav navbar-right ms-auto mb-2 mb-sm-0">
      </ul>
    </div>
  </div>
</nav>